body{
    background: #F3F5FC; /*<!--Cambio el fondo de toda la estructura-->*/
}

main{
    text-align: center;
}

.cajaDerecha{
    /*width: 940px;*/
    height: 550px;
    width: 50%;
    display: inline-block;
    text-align: left;
}

#textoUsuario{
    background: #F3F5FC;
    display: inline-block;
    border: none;
}

.cajaRespuesta{
    width: 400px;
    height: 550px;
    background: #FFFFFF;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    box-sizing: border-box;
    border-radius: 32px;
}

.imagenMuñeco{
    width: 336px;
    height: 304px;

}

#textoEncriptado{
    width: 336px;
    position: relative;
    left: 0%;
    top: 0%
}


